@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Styling Navigation Bar */
.nav-bar {
  background-color: rgb(38, 37, 42);
  color: rgb(255, 255, 255);
  padding: 1.5em 1em;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar img {
  width: 5%;
}
.nav-bar ul {
  font-size: 2em;

  display: flex;
  /* gap: 2em; */
}
.nav-items a {
  color: rgb(255, 255, 255);
  padding: 0.5em 0.8em;
  transition: background-color 0.15s, border-radius 0;
}
.nav-items a:visited {
  color: rgb(255, 255, 255);
}
.nav-items a:hover {
  background-color: rgb(1, 136, 160);
  border-radius: 1em;
}
nav + div {
  height: 200vh;
}
